@import url("https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;700&display=swap");
button {
  font-family: 'Finlandica', Arial, Helvetica, sans-serif;
}
.root {
  font-family: 'Finlandica', Arial, Helvetica, sans-serif;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}